-# 新規登録
- content_for(:html_title) {"新規会員登録 - SAKE PAIRING"}
.User-Account-page
  .User-Account-page__content
    .User-contents
      %h2.User-contents__head
        %p.User-contents__head__comment
          アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_registration_path(resource_name), class: 'User-contents__head__create'
      .User-contents__inner
        %button#facebook-login.User-contents__inner--facebook
          = icon('fab','facebook-square')
          Facebookでログイン
        %button#google-login.User-contents__inner--google
          Googleでログイン
          = icon('fab','google')
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .User-field
          .User-field__input
            = f.email_field :email, placeholder: 'メールアドレス', autofocus: true, class: 'User-field__input--inner'
          .User-field
            .User-field__input
              = f.password_field :password, placeholder: 'パスワード', autocomplete: "off", class: 'User-field__input--inner'
          .User-actions
            = f.submit "ログイン", class: 'User-actions__btn'
          .User-pw__missing
            = link_to "パスワードをお忘れの方", '#'