= form_with(model: @post, local: true) do |f|
  .post__contents
    .post__container
      = form_with model: @post, local: true, class: "post__new" do |f|
        .post__image
          .post__image__upload
        .post__type
          = f.text_field :type, placeholder: "銘柄", class: "post__type__text"
        .post__tag
          = f.text_field :tag, placeholder: "タグを追加", class: "post__tag__text"
        .post__comment
          = f.text_area :text, placeholder: "コメント",  class: "post__comment__text"
        = f.fields_for :images do |i|
          = i.file_field :src        
        .post__btn
          = f.submit "投稿する", class: "post__btn__text"
