//商品一覧表示
- @posts.each do |post|
  .post-list
    = link_to post_path(post.id), class: "post-list__content" do
      = image_tag post.images.src.url, alt: ""
      .post-list__card
        .post-list__card__name
          = post.name
        .post-list__card__tags
          = post.tags
        .post-list__card__text
          = post.text