!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SakePairing
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .header
    .header__innner
      .header__left
        .header__left__icon
          = link_to root_path do
            = image_tag "/logo.png", class: "header__left__icon__img", alt: ""
        .header__left__text
          SAKEPAIRING
      .header__right
        %ul.header__right__list
          - if user_signed_in?
            = link_to user_session_path, class: "header__right__list__login" do
              マイページ
            // あとで修正
            = link_to new_post_path, class: "header__right__list__post" do
              投稿する
          - else 
            = link_to new_user_session_path, class: "header__right__list__login" do
              ログイン
            = link_to new_user_registration_path, class: "header__right__list__new" do
              新規登録
            = link_to new_post_path, class: "header__right__list__post" do
              投稿する

  = yield